<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <!-- GENERAL -->

    <!--REST CLIENT-->
    <add key="api.endpoint" value="http://yourendpoint/api/" />
   
    <add key="api.auth" value="https://login.windows.net/yourtenant.onmicrosoft.com/oauth2/token" />

    <add key="api.logintype" value="0" />
    <add key="api.timeout" value="120000" />
   
    <!--IDENTITY-->
    <add key="identity.client.id" value="" />
    <add key="identity.tenant.id" value="" />
    <add key="identity.client.secret" value="" />
    <add key="identity.client.resource" value="" />
    <add key="identity.scope" value="Group.Read.All offline_access openid profile User.Read" />

  </appSettings>

</configuration>